.turtle-card {
  display: flex;
  flex-direction: column;

  border: 1px solid black;
  padding: 10px;
  margin-top: 20px;
}

.turtle-card > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.turtle-card > div > div:first-of-type {
  width: 20%;
}

.turtle-card > div > div:last-of-type {
  width: 80%;
}

.turtle-card img {
  max-width: 500px;
}